@import "tailwindcss";

/* Opcional: Adicionar estilos globais básicos que o Tailwind não cobre, ou sobrescrever o reset */
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000030;
  background-image: url('./assets/bg-pattern.svg');
  background-size: 256px 256px;
  background-repeat: repeat;
  color: white;
  font-family: 'Press Start 2P', cursive;
  image-rendering: pixelated;
}